.film 
    margin: 15px auto
    flex: 0 1 calc(33% - 50px)

.film-container 
    margin: 50px auto
    display: flex
    flex-flow: row wrap
    position: relative

    .film-poster 
        display: block
        margin: 0 auto
        width: 100%
        height: 450px

    .film-title 
        text-transform: uppercase
        font-weight: bold
        float: left
        margin-top: 20px
        width: 100%

    .release-year 
        border: 1px solid
        border-radius: 3px
        margin: 20px 5px 10px
        padding: 0px 10px
        float: right
    
    .category 
        color: #585858
        font-size: 13px
