.resultcontent
    padding-bottom: 20px
    padding-right: 50px
    position: relative

    .search
        padding: 5px 20px
        background: #dddddd
        color: #e50914
        text-transform: uppercase
        position: absolute
        right: 130px
        top: -45px
        border-radius: 2px

    .film-poster 
        width: 100%
        margin: 30px
        max-height: 450px

    .right-side,
    .left-side 
        float: left
        color: #ffffff

    .right-side 
        width: 60%
        padding: 30px 50px

    .left-side 
        width: 40%

    .film-title 
        color: #e50914
        font-weight: bold
        font-size: 30px
        position: relative

        .rating
            border: 1px #39da39 solid
            color: #39da39
            border-radius: 50%
            position: absolute
            font-size: 22px    
            padding: 11px 7px
            text-align: center
            width: 44px
            height: 44px
            top: 0
            right: 0
            background: rgba(0,0,0,0.5)

    .sub-title
        font-size: 15px

    .release-year
        display: inline-block
        padding: 5px 0
        margin-bottom: 20px
        font-weight: bold
        font-size: 18px

    .summary 
        font-size: 17px
        margin-bottom: 30px

    .director,
    .show-cast 
        color: #d6d6d6
        font-size: 13px
